/* ESTIOS GLOBAIS DA APLICAÇÃO */
/* IMPORTADO NO INDEX.JS E APLICANDO ESTILOS 
  GLOBAIS NA ARVORE MONTADA DO (<App />) */
body {
  padding: 50px;
  background-color: #efefef;
}

h1 {
  color: #333;
}

p {
  background-color: #999;
  padding: 10px;
}
